<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
        <testsuite name="smoke">
            <directory>tests/smoke</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Assets</directory>
            <file>src/Includes/Autoloader.php</file>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="tests/coverage/coverage.txt"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="tests/logs/junit.xml"/>
        <testdoxHtml outputFile="tests/logs/testdox.html"/>
        <testdoxText outputFile="tests/logs/testdox.txt"/>
    </logging>
    
    <php>
        <ini name="memory_limit" value="512M"/>
        <ini name="max_execution_time" value="300"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="log_errors" value="1"/>
    </php>
</phpunit>
